#book {
    border: 2px solid black;
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px grey;
}
#book img {
    height: 150px;
    width: 150px;
}