#arp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 1rem 0;
}
#logoimg{
    border-radius: 50%;
    border: 1px solid black;
    height: 80px;
    width: 80px;
}